.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;

    select{
        border: none;
        background: rgb(184, 184, 184);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        color:#fff;

        &:hover{
            background: rgb(0, 0, 0);
        }
    }
    .filter {
        display: flex;
        gap: 1rem;
        align-items: center;
        button{
            border: none;
            background: rgb(184, 184, 184);
            padding: 0.5rem 1rem;
            border-radius: 5px;
            color:#fff;

            &:hover{
                background: rgb(0, 0, 0);
            }
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;

        thead {
            tr {
                th {
                    padding: 10px;
                    text-align: center;
                    border-bottom: 1px solid #ddd;
                }
            }
        }

        td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

    }
}